@using AlphaCinema.Core.Constants

@{
    ViewData[ViewConstant.Title] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to admin area of <b>Alpha</b>Cinema</h1>
    <h3>Navigate through the header section to access admin operations</h3>
</div>
