@using AlphaCinema.Core.Constants
@using AlphaCinema.Core.ViewModels
@model AddMovieVM

@{
    ViewData[ViewConstant.Title] = "Add Movie";
}

<div class="card card-primary">
    <form asp-controller="Movie" asp-action="Add" method="post">
        <div class="card-header">
            <h3 class="card-title">Add Movie</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger input-group-text"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="ReleaseDate">Release Date</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                            <input asp-for="ReleaseDate" type="text" class="form-control" placeholder="dd.mm.yyyy">
                        </div>
                    </div>
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="Duration">Duration (Minutes)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                            <input asp-for="Duration" type="text" class="form-control">
                        </div>
                    </div>
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea id="inputDescription" class="form-control" asp-for="Description" rows="4"></textarea>
            </div>
            <div class="col-sm-1">
                <div class="form-group float-right">
                    <label asp-for="Rating">Rating</label>
                    <input asp-for="Rating" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Rating" class="text-danger"></span>
            <div class="form-group">
                <div class="form-check float-right">
                    <input asp-for="IsActive" class="form-check-input" type="checkbox">
                    <label asp-for="IsActive" class="form-check-label">Is Active</label>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right" style="max-width: 130px">Submit</button>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
